# Observability (lite) para EC2 t3.medium + k3s
# Objetivo: Prometheus + Grafana + métricas básicas
alertmanager:
  enabled: false

prometheus:
  prometheusSpec:
    retention: 2d
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

grafana:
  adminPassword: "admin"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  service:
    type: NodePort
    nodePort: 32000

kubeStateMetrics:
  enabled: true

prometheus-node-exporter:
  enabled: true
