version: "3.9"

services:
  backend:
    image: ghcr.io/alfremu/devops-challenge-flask-angular-backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - app-net

  frontend:
    image: ghcr.io/alfremu/devops-challenge-flask-angular-frontend:latest
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
